.layout {
    
    .header {
        height:50px;
        background:#fff;
    }

    .content{
        width: 100%;
        min-height: 84vh;
        padding: 15px 50px;
        background:#fff;
    }
    
}