.layout {
    
    .header {
        height:50px;
        background:#fff;
    }

    .content{
        width: 100%;
        min-height: 84vh;
        padding: 15px 50px;
        background:#fff;
    }
    
}
:global {
    //因为是修改Table组件的样式，所以只能用全局样式
    .menus-table {
      margin-right: 30px;
      &.cart {
          margin-right: 0;
      }
      table {
        tr {
          th {
            background: none;
          }
          th,
          td {
            padding: 10px;
          }
        }
      }
    }
    //提交按钮
    .btn-w-p100 {
      width: 100%;
    }
  }