@import '../../scss/common.scss';

.navBar {
    white-space: nowrap;
    height: 100%;
    width: 100%;
    position: relative;
    background:#f8f9fa;
    
    .logo {
        display: inline-box;  
        height: 100%; 
        margin:auto 10px; 
        float: left;   
    }
    .menu-left {
        display: inline-box;
        background: none;
        vertical-align: top;
        border-bottom: none;
        position: relative;
        width: calc(100% - 44px);
        float: left;
        .login {
            position: absolute;
            right: 46px;
        }
        .register {
            position: absolute;
            right: 0;
        }
    }

    .dropdown-menu {
        position: absolute;
        right:10px;
        height:$header-height;
        line-height: $header-height;
        .email {
            display: inline-block;
            line-height: 1em;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .icon {
            margin-left: 5px;
            vertical-align: 0;
        }
    }
   
}